/*
Theme Name: WordPress Ecommerce 
Version: 1.2
Template: twentytwenty
Requires at least: 4.7
Requires PHP: 5.2.4
Description: Our default theme for 2020 is designed to take full advantage of the flexibility of the block editor. Organizations and businesses have the ability to create dynamic landing pages with endless layouts using the group and column blocks. The centered content column and fine-tuned typography also makes it perfect for traditional blogs. Complete editor styles give you a good idea of what your content will look like, even before you publish. You can give your site a personal touch by changing the background colors and the accent color in the Customizer. The colors of all elements on your site are automatically calculated based on the colors you pick, ensuring a high, accessible color contrast for your visitors.
Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-styles, wide-blocks, accessibility-ready
Author: the WordPress team
Author URI: https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentytwenty/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

All files, unless otherwise stated, are released under the GNU General Public
License version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

html, body, a, p, span, h1, h2, h3, h4, h5, h6, #site-content .woocommerce-error, #site-content .woocommerce-info, .woocommerce-checkout button[name=apply_coupon], button, select {
    font-family: 'Raleway', sans-serif !important;
}

.wc-block-grid__product .wc-block-grid__product-title{
    font-family: 'Raleway', sans-serif !important;
}
a{
    text-decoration: none;
}
.alignfull{
    padding: 0px 52px;
    width: 96%;
}
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: 100%;
    width: 89%;
    padding: 0;
    margin: 23px auto 0;
}
hr.wp-block-separator.is-style-wide {
    margin: 15px auto 30px;
}
.entry-content > .alignfull {
    margin-bottom: 0;
    margin-top: 23px;
}
.wc-block-grid__product .wc-block-grid__product-title{
    font-size: 17px;
    margin: 0;
}
.wc-block-grid__products .wc-block-grid__product-onsale {
    margin: 0;
    width: 100%;
    border: none;
}
ul.wc-block-grid__products li.wc-block-grid__product {
    margin-bottom: 0;
}
.wp-block-column {
    text-align: center;
}
i.c-font {
    font-size: 51px;
}
i.fa-shipping {
    color: #007d7d;
}
i.fas.fa-headset {
    color: #009c68;
}
i.fas.fa-ban {
    color: #ff0000;
}
i.fas.fa-shipping-fast{
    color: #001684a3;
}
h2.widgettitle {
    text-transform: uppercase;
    font-size: 18px;
    margin: 9px auto;
    font-weight: 300;
}
p, ul li a, .wpforms-field-label {
    font-size: 14px;
}
div.tagcloud a {
    font-size: 14px !important;
    color: #fff;
    border: 1px solid #ffff;
    padding: 1px 4px;
    margin: 0 4px 8px 0;
    display: inline-block;
    text-transform: lowercase;
}
div.tagcloud a:hover {
    background: #cd2653;
}
li {
    list-style-type: none;
}
div.wpforms-container-full .wpforms-form button[type=submit] {
    font-size: 14px !important;
    background: #cd2653 !important;
    color: white !important;
    text-transform: uppercase !important;
}
.footer-col {
    text-align: left;
    padding: 18px;
}
.footer-area, .widget_recent_entries a {
    background: #333232;
    color: #fff;
    font-weight: 100;
}
.textwidget ul {
    margin: 0;
}
.textwidget ul li {
    display: inline-block;
    margin: 0 3px 0px 0;
}
.spoontalk-social {
    font-size: 18px !important;
}
footer#site-footer {
    padding: 0;
}
nav.footer-menu-wrapper ul.reset-list-style li {
    display: inline-block;
    margin-left: 2px;
}
.footer-top-visible .footer-nav-widgets-wrapper, .footer-top-hidden #site-footer {
    margin-top: 0;
}
.wp-block-columns.footer-area {
    margin: 0 !important;
}
.footer-top-visible .footer-nav-widgets-wrapper, .footer-top-hidden #site-footer {
    margin-top: 0;
    background: #a0a0a0;
    color: #fff;
    font-weight: 100;
}
#site-footer a {
    text-decoration: none;
    color: white;
}
.footer-copyright {
    font-weight: 100;
}
div.wpforms-container-full .wpforms-form label.wpforms-error {
    color: #ff0000 !important;
}
div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error, div.wpforms-container-full .wpforms-form .wpforms-field input.user-invalid, div.wpforms-container-full .wpforms-form .wpforms-field textarea.wpforms-error, div.wpforms-container-full .wpforms-form .wpforms-field textarea.user-invalid, div.wpforms-container-full .wpforms-form .wpforms-field select.wpforms-error, div.wpforms-container-full .wpforms-form .wpforms-field select.user-invalid {
    border: 1px solid #ff0000;
}
div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error, div.wpforms-container-full .wpforms-form .wpforms-field input.user-invalid, div.wpforms-container-full .wpforms-form .wpforms-field textarea.wpforms-error, div.wpforms-container-full .wpforms-form .wpforms-field textarea.user-invalid, div.wpforms-container-full .wpforms-form .wpforms-field select.wpforms-error, div.wpforms-container-full .wpforms-form .wpforms-field select.user-invalid {
    border: 1px solid #ff0000;
    max-width: 100%;
}
button#wpforms-submit-103:hover {
    background: #a5003d !important;
}
.widget_recent_entries a:hover, a:hover {
    color: #f50042;
    text-decoration: none;
}
.section-inner {
    padding: 10px 0;
}
#site-footer a:focus, #site-footer a:hover {
    text-decoration: none;
    border-bottom: 1px solid #ff0045;
}
a.to-the-top {
    border: 1px solid #fff;
    padding: 7px 12px 7px 11px;
    border-radius: 100%;
}
a.to-the-top:hover {
    border: 1px solid #fd0044;
}
.header-inner {
    padding: 20px 0 0 0;
}
a:hover, .primary-menu li.current-menu-item > a, .primary-menu li.current-menu-item > .link-icon-wrapper > a {
    text-decoration: none !important;
}
a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart:hover {
    background: #b70032;
}
a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart, ul.products li.product .button {
    padding: 10px 13px;
    font-size: 11px;
    display: block;
}
a.wp-block-button__link:hover {
    background: #cd2653;
    color: #ffff !important;
}
.wp-block-button.is-style-outline {
    margin: 0;
}
a.added_to_cart.wc-forward {
    text-transform: lowercase;
}
button:focus, button:hover, .button:focus, .button:hover, .faux-button:focus, .faux-button:hover, .wp-block-button .wp-block-button__link:focus, .wp-block-button .wp-block-button__link:hover, .wp-block-file .wp-block-file__button:focus, .wp-block-file .wp-block-file__button:hover, input[type="button"]:focus, input[type="button"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="submit"]:focus, input[type="submit"]:hover{
    text-decoration: none !important;
}
.primary-menu > li > a:hover {
    color: #ff0045 !important;
}
.primary-menu > li > a {
    text-transform: uppercase;
    font-weight: 700;
}
.header-footer-group, body:not(.overlay-header) #site-header .toggle, .menu-modal .toggle {
    color: #cc1443;
    padding: 0;
}
input[type="search"]:focus {
    outline: none;
}
.search-modal .search-field {
    border-bottom: 1px solid #d40000;
    font-size: 3.2rem;
    height: auto;
    padding-top: 44px;
    text-transform: uppercase;
}
select {
    font-size: 12px;
    padding: 12px;
    text-transform: uppercase;
}
a.button:hover, a.button:visited{
    text-decoration: none;
}
.woocommerce ul.products li.product {
    text-align: center;
    margin-bottom: 30px;
}
ul.products li.product .price, ul.products li.product .star-rating, ul.products li.product .woocommerce-loop-product__title {
    font-size: 17px;
}
ul.products li.product .button{
    width: 100%;
}
a.button:hover, a.button:visited {
    color: #fff;
    text-decoration: none!important;
    background: #a5002c;
}
ul.products li.product .added_to_cart {
    margin: 4px auto 0;
    text-align: center;
}
.woocommerce-products-header__title.page-title {
    font-size: 5.4rem;
    text-transform: uppercase;
    margin: 0 auto 31px;
    padding: 0;
}
.woocommerce-breadcrumb {
    margin-bottom: 1rem;
    text-transform: uppercase;
}
h2.woocommerce-loop-product__title:hover {
    color: #cd2653 !important;
}
.woocommerce-cart-form img {
    max-width: 64px;
}
.woocommerce-cart-form table td.product-name {
    padding-left: 0;
}
.woocommerce-cart-form .quantity input {
    width: 61%;
    border: 1px solid #eee;
    padding: 2px 3px 0 15px;
    text-align: center;
    margin: 0 auto;
}
td.product-quantity {
    width: 12% !important;
}
.woocommerce-cart-form .actions .input-text {
    padding: 3px 9px;
}
.woocommerce-cart-form .actions .button, .woocommerce-cart-form .actions button[name=update_cart] {
    background: #cd2653;
    border: 1px solid #cd2653;
    color: #fff;
    font-size: 12px;
    padding: 14px 12px;
}
button.button:hover {
    background: #a70430 !important;
}
h1.entry-title {
    text-transform: uppercase;
    font-size: 4em;
    padding: 0;
    margin: 0 auto;
}
.woocommerce-cart #site-content .entry-header {
    padding: 10px;
}
.entry-content h1, .entry-content h2, .entry-content h3 {
    margin: 1rem auto 0rem;
    text-transform: uppercase;
}
table.shop_table.shop_table_responsive {
    margin: 6px 0;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 38%;
}
.woocommerce-checkout .woocommerce-billing-fields h3, .woocommerce-additional-fields h1, .woocommerce-additional-fields h2, .woocommerce-additional-fields h3 {
    margin-top: 0;
    font-size: 22px;
}
.woocommerce-checkout form .col2-set label {
    font-family: inherit;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: 14px;
}
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 8px;
    font-size: 14px;
}
.select2-container--default .select2-results>.select2-results__options{
    font-size: 14px;
}
.woocommerce-checkout form #order_review_heading{
    margin: 0;
}
.woocommerce-checkout form #order_review .woocommerce-checkout-review-order-table{
    margin-top: 0;
}
.woocommerce-checkout input#coupon_code {
    border: 1px solid #ddd;
    padding: 11px 7px;
}
.woocommerce form .form-row-first{
    width: 29%;
}
.woocommerce-page form .form-row-last{
    width: 70%;
}
.woocommerce-form-coupon-toggle .woocommerce-info {
    margin-bottom: 16px;
}
h3#order_review_heading {
    font-size: 22px;
}
.woocommerce-checkout form .col2-set {
    clear: both;
}
ul.woocommerce-error {
    clear: both;
    font-size: 13px;
}
ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    margin: 0;
    margin-bottom: 16px;
}
p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    font-size: 20px;
    text-transform: uppercase;
}
ul.woocommerce-order-overview {
    margin: 0;
}
h2.woocommerce-order-details__title {
    font-size: 29px;
}
ul.woocommerce-order-overview li {
    font-size: 16px;
    margin-left: 0;
}
table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
    margin-top: 0;
}
.singular .entry-header {
    padding: 12px 0;
    background-color: #b1002d;
    color: #fff;
    margin-bottom: 25PX;
}
#site-content .woocommerce-error, #site-content .woocommerce-info {
    font-size: 14px;
}
.woocommerce-checkout button[name=apply_coupon], button, button:not(.toggle), .button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, input[type="button"], input[type="reset"], input[type="submit"], .bg-accent, .bg-accent-hover:hover, .bg-accent-hover:focus, :root .has-accent-background-color, .comment-reply-link {
    font-weight: 400;
}
.widget li {
    margin-top: 0px;
}
.entry-categories-inner a {
    color: white !important;
    font-weight: 100;
    border-bottom: 1px solid #fff;
    font-size: 13px;
}
.site-description, body:not(.overlay-header) .toggle-inner .toggle-text, .widget .post-date, .widget .rss-date, .widget_archive li, .widget_categories li, .widget cite, .widget_pages li, .widget_meta li, .widget_nav_menu li, .powered-by-wordpress, .to-the-top, .singular .entry-header .post-meta, .singular:not(.overlay-header) .entry-header .post-meta a {
    color: #c3c3c3;
}
.pagination-single {
    font-size: 15px;
    margin-top: 31px;
    text-transform: uppercase;
    padding-bottom: 39px;
}
.pagination-single hr:last-child {
    display: none;
}
input#wpforms-103-field_1 {
    max-width: 100%;
}
article {
    padding-top: 9px !important;
}
hr.post-separator.styled-separator.is-style-wide.section-inner {
    display: none;
}
h2.entry-title.heading-size-1 {
    font-size: 26px;
    text-transform: uppercase;
}
.post-meta-wrapper.post-meta-single.post-meta-single-bottom {
    margin: 15px 0 0 0;
}
.post-meta-wrapper {
    margin-top: 7px;
}
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide){
    margin: 10px auto 0;
}
body.search-results .entry-categories {
    display: none;
}
article:last-child {
    margin-bottom: 30px;
}
.primary-menu-wrapper + .header-toggles {
    margin-left: 2rem;
}
body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon, .modal-menu a, .footer-menu a, .footer-widgets a, #site-footer .wp-block-button.is-style-outline, .wp-block-pullquote:before, .singular:not(.overlay-header) .entry-header a, .archive-header a, .header-footer-group .color-accent, .header-footer-group .color-accent-hover:hover{
    font-weight: 500;
}
ul.cart li{
    display: inline-block;
    margin: 0 7px 0;
    font-size: 15px;
}
ul.cart {
    margin: 0 29px 0 0;
}

/* cart  */
.cart-contents:before {
    font-family: WooCommerce;
    content: "\e01d";
    font-size: 15px;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    padding-right: 0;
    vertical-align: bottom;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #e80000;
    font-weight: 500;
    vertical-align: top;
    font-size: 12px;
}
h2.woocommerce-column__title {
    font-size: 29px;
}
address {
    font-size: 14px;
    font-style: normal;
}
p.woocommerce-customer-details--phone {
    margin-bottom: 0;
}